/* Status style  */
.status {
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    border-radius: 5px;
}

.status .status_button{
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #555;
    padding: 0 10px;
    text-align: left;
    margin: 0 10px;
    font-size: 1rem;
}

.status .status_button:hover {
    background: #ddd;
}

/* Post style  */
/* Card header  */
.posts .card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
}
.posts .card_header .dropdown-menu {
    position: absolute;
    left: inherit !important;
    right: 0;
}
.posts .card_header .dropdown-item {
    display: flex;
    margin: 5px 0;
}
/* Card body  */

.posts .card_body .content {
    padding: 0 25px;
    margin-top: -10px;
    margin-bottom: 10px;
} 
.posts .card_body .content .readMore {
    cursor: pointer;
    color: #5e5e5e;
}

.posts .carousel-inner {
    height: 400px;
}

.posts .carousel-inner img{
    height: 400px;
    object-fit: contain;
}

/* Card footer */
.posts .card_icon_menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.card_icon_menu span {
    font-size: 1.5rem;
    margin: 10px;
}
